# ext.cfg — linker config for external programs (.com) in razemOSmt
# TASK1: starts at $A000, PAGE1 stack partition: $0140-$017F
#
# Default start address: $A000 (TASK1).
# For TASK2 ($D000): use ext_task2.cfg.

SYMBOLS {
    __STARTADDR__: type = weak, value = $A000;
    __STARTUP__:   type = import;
    __STACKSIZE__: type = weak, value = $0200;
}

MEMORY {
    ZP:       file = "",  define = yes, start = $0028, size = $00D8;
    CPUSTACK: file = "",               start = $0140, size = $0040;
    RAM:      file = %O, define = yes, start = __STARTADDR__,
                                       size = $D000 - __STACKSIZE__ - __STARTADDR__;
}

SEGMENTS {
    ZEROPAGE: load = ZP,     type = zp;
    STARTUP:  load = RAM,    type = ro;
    LOWCODE:  load = RAM,    type = ro,  optional = yes;
    ONCE:     load = RAM,    type = ro,  optional = yes;
    CODE:     load = RAM,    type = ro;
    RODATA:   load = RAM,    type = ro;
    DATA:     load = RAM,    type = rw,  define   = yes;
    BSS:      load = RAM,    type = bss, define   = yes;
}

FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}
